<html>
  <head>
    <title>Closer Walk UMC</title>
    <%= stylesheet_link_tag    'about', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="bgimg-1">
        <div class="caption">
            <span class="border">ABOUT US</span>            
        </div>
    </div>

    <div class="contentContainer">
        <div id="about">
            <div id="aboutContainer">
                <p>OUR VISION IS TO BRING PEOPLE OF ALL AGES, RACES, BACKGROUNDS, AND PERSONALITIES TOGETHER TO LOVE <span class="red">GOD</span>, LOVE THEIR NEIGHBORS, AND REACH OUT IN RADICAL HOSPITALITY.</p>
                <p class="red">WE ARE THE "HEALING PLACE" HERE AT CLOSER WALK.<p>
                <p>WE WELCOME ALL WALKS OF LIFE AND ENCOURAGE YOU TO HAVE A LIFE ALTERING AWAKENING.<p>
                <p class="red">MEET OUR LEADERSHIP</p>
            </div>
            <div id="picGrid">
              <div class="aboutBox">
                <%= image_tag 'buckner.webp', :class => "aboutImage" %>
                <div class="aboutName">Terry Leigh Buckner</div>
                <div class="aboutTitle">Lead Pastor</div>
                <div class="aboutDesc">Married to Michael Buckner with two children, Tyler and Amanda. She was raised in the Methodist Church, though she spent 11 years in the Baptist Church. Before entering ministry, Terry was a stock broker for 18 years in the Raleigh area, and was also Adult Program Director at White Plains Church in Cary, N.C. for 8 years. She received her Master of Divinity degree from Duke University in 2005. After her graduation, Terry accepted the position as Associate Pastor at Pine Valley UMC in Wilmington, N.C. from 2005-2007. She was asked by her superiors in the Methodist conference to start a Methodist Church in Leland, N.C.</div>
                <div class="aboutContact">revterryleigh@closerwalkumc.org</div>
              </div>

              <div class="aboutBox">
                  <%= image_tag 'vaudrin.webp', :class => "aboutImage" %>
                  <div class="aboutName">Larry Vaudrin</div>
                  <div class="aboutTitle">Lay Director</div>
                  <div class="aboutDesc">Married to Donna Vaudrin. He has two children, Ryan and Kristen. Larry was raised in the Catholic Church. He worked for Sherwin Williams as the District Manager for over 15 years. Larry retired in 2016 and decided to come on staff to assist as the lay pastor. He preaches in place of Terry Buckner and also is active in the church's Men's Ministry.</div>
                  <div class="aboutContact">(919) 622-5492</div>
              </div>

              <div class="aboutBox">
                  <%= image_tag 'waddell.webp', :class => "aboutImage" %>
                  <div class="aboutName">Terry Waddell</div>
                  <div class="aboutTitle">Music Director</div>
                  <div class="aboutDesc">Married to Michael Waddell. She has two children, Connie and Paul. Terry was previously the Director of Youth at Pine Valley Methodist for over 5 years. She is now a Middle School Music Teacher at Leland Middle School. Terry also received her Master of Divinity degree from Campbell University in 2015. ​Terry came on board as the music director when Closer Walk began in 2007.</div>
                  <div class="aboutContact">terry.waddell@yahoo.com</div>
              </div>

              <div class="aboutBox">
                  <%= image_tag 'jen.webp', :class => "aboutImage" %>
                  <div class="aboutName">Jen Mongelli-Scott</div>
                  <div class="aboutTitle">Youth Leader</div>
                  <div class="aboutDesc">Jen worked as a store manager for Home Depot for over 18 years. Her love for children, having 3 of her own, has driven her heart in the way of steering the next generation in a positive direction. Jen’s ethic is fun and educational. Her team consists of her husband David Scott, Chris and Shelly Mongelli as assisting team leaders.</div>
                  <div class="aboutContact">(910) 269-9757</div>
              </div>

              <div class="aboutBox">
                  <%= image_tag 'arlene.webp', :class => "aboutImage" %>
                  <div class="aboutName">Arlene Kincaid and Mary Levasseur</div>
                  <div class="aboutTitle">Prayer Ministry Leads</div>
                  <div class="aboutDesc">Friday prayer team meets at 12:00 pm to pray over specific prayer requests presented to the team. All stays in confidence with the elders of the church. This team also assists with prayers on Sunday mornings and with alter calls.</div>
                  <div class="aboutContact">(910) 399-4383</div>
              </div>

              <div class="aboutBox">
                  <%= image_tag 'purin.webp', :class => "aboutImage" %>
                  <div class="aboutName">Lou Purin, Ed Detoma, and Henry Levasseur</div>
                  <div class="aboutTitle">Outreach Team Leaders</div>
                  <div class="aboutDesc">The outreach team assist with Wilmington Area Rebuilding Ministry, helping repair issues in the church as well as congregants and local community members. This team is designed to focus on sharing the light of Christ using their hands and feet.</div>
                  <div class="aboutContact">(910) 399-4383</div>
              </div>

            </div>
        </div>
    </div>

  </body>
</html>