<html>
  <head>
    <title>Closer Walk UMC</title>
    <%= stylesheet_link_tag    'welcome', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'welcome', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="bgimg-1">
        <div class="caption">
            <span class="border" id="desktopWelcome">WELCOME TO CLOSER WALK CHURCH</span>
            <div id="desktopServiceTimes">
                <div id="left">
                    <h1>JOIN US FOR UPCOMING SERVICES</h1>
                    <h3>117-C VILLAGE ROAD</h3>
                    <h3>LELAND NC</h3>
                </div>
                <div id="right">
                    <h2>8:15 AM</h2>
                    <h3>TRADITIONAL SERVICE</h3>
                    <h2>10:30 AM</h2>
                    <h3>CONTEMPORARY SERVICE</h3>
                </div>
            </div>
        </div>

        <div id="mobileWelcome">WELCOME TO<br><span class="red">CLOSER WALK CHURCH</span></div>
        <div id="mobileServiceTimes">
            <div id="top">
                <h2>JOIN US FOR UPCOMING SERVICES</h2>
                <h1>117-C VILLAGE ROAD</h1>
                <h1>LELAND NC</h1>
            </div>
            <div id="bottom">                
                <h1>TRADITIONAL SERVICE</h1>
                <h2>8:15 AM</h2>
                <h1>CONTEMPORARY SERVICE</h1>
                <h2>10:30 AM</h2>                
            </div>
        </div>
        
    </div>

    <div class="contentContainer">
        <div id="donate">
            <div id="dove"><%= image_tag 'dove.png' %></div>
            <p id="quote">WHOEVER IS GENEROUS TO THE POOR LENDS TO THE <span class="red">LORD</span>, AND <span class="red">HE</span> WILL REPAY HIM FOR HIS DEED</p>
            <p id="bible">PROVERBS 19:17<p>
            <%= link_to "DONATE NOW", root_path %>
        </div>
    </div>

    <div class="bgimg-2" id="sermons">
        <div class="caption">
            <span class="border">SERMONS</span><br><br><br>
            <div id="soudcloud"><iframe width="50%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/users/300451378&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe></div>
        </div>
    </div>

    <div class="contentContainer">
        <div id="about">
            <h1>ABOUT US</h1>
                <div id="aboutContainer">
                    <p>OUR VISION IS TO BRING PEOPLE OF ALL AGES, RACES, BACKGROUNDS, AND PERSONALITIES TOGETHER TO LOVE <span class="red">GOD</span>, LOVE THEIR NEIGHBORS, AND REACH OUT IN RADICAL HOSPITALITY.</p>
                    <p class="red">WE ARE THE "HEALING PLACE" HERE AT CLOSER WALK.<p>
                    <p>WE WELCOME ALL WALKS OF LIFE AND ENCOURAGE YOU TO HAVE A LIFE ALTERING AWAKENING.<p>
                    <%= link_to "LEARN MORE", root_path %>
                </div>
        </div>
    </div>

    <div class="bgimg-3">
        <div class="caption">
            <div id="contact">
                <p>LEARN MORE</p>
                <form action="#">
                    <input type="email" placeholder="ENTER EMAIL">
                    <input type="submit" value="SUBMIT">
                </form>
            </div>
        </div>
    </div>

  </body>
</html>