<html>
  <head>
    <title>Closer Walk UMC</title>
    <%= stylesheet_link_tag    'welcome', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'welcome', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="bgimg-1">
        <div class="caption">
            <span class="border" id="welcome">WELCOME TO CLOSER WALK CHURCH</span>
            <div id="serviceTimes">
                <div id="left">
                    <h1>JOIN US FOR UPCOMING SERVICES</h1>
                    <h3>117-C VILLAGE ROAD</h3>
                    <h3>LELAND NC</h3>
                </div>
                <div id="right">
                    <h2>8:15 AM</h2>
                    <h3>TRADITIONAL SERVICE</h3>
                    <h2>10:30 AM</h2>
                    <h3>CONTEMPORARY SERVICE</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="contentContainer">
        <div id="donate">
            <div id="dove"><%= image_tag 'dove.png' %></div>
            <p id="quote">WHOEVER IS GENEROUS TO THE POOR LENDS TO THE <span class="red">LORD</span>, AND <span class="red">HE</span> WILL REPAY HIM FOR HIS DEED</p>
            <p id="bible">PROVERBS 19:17<p>
            <%= link_to "DONATE NOW", root_path %>
        </div>
    </div>

    <div class="bgimg-2" id="sermons">
        <div class="caption">
            <span class="border">SERMONS</span><br><br><br>
            <div id="soudcloud"><iframe width="50%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/users/300451378&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe></div>
        </div>
    </div>

    <!-- <div class="contentContainer">
        <div id="about">
            <p>MEET OUR TEAM<p>
            <div class="aboutContainer" id="buckner">
                <div class="aboutImage"><%= image_tag 'buckner.webp' %></div>
            <div>
            <div class="aboutContainer" id="vaudrin">
            <div>
            <div class="aboutContainer" id="waddell">
            <div>
        <div>
    </div> -->

    <div class="bgimg-3">
        <div class="caption">
            <div id="contact">
                <p>LEARN MORE</p>
                <form action="#">
                    <input type="email" placeholder="ENTER EMAIL">
                    <input type="submit" value="SUBMIT">
                </form>
            </div>
        </div>
    </div>

  </body>
</html>