<!DOCTYPE html>
<html>
  <head>
    <title>Closer Walk UMC</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div id="top"></div>
    <div id="dskHeader">
      <div id="logo"><%= link_to image_tag("cwLogo3.png"), root_path %></div>
      <div class="links"><%= link_to "HOME", root_path(anchor: "top") %></div>
      <div class="links"><%= link_to "ABOUT US", root_path(anchor: "about") %></div>
      <div class="links"><%= link_to "OUR BELIEFS", root_path(anchor: "beliefs") %></div>
      <div class="links"><a href="#">SERMONS</a></div>
      <div class="links"><a href="#">EVENTS</a></div>
      <div class="links"><a href="#">OUR MINISTRIES</a></div>
      <div class="links"><a href="#">MORE</a></div>
    </div>

    <%= yield %>
  </body>
</html>