<!DOCTYPE html>
<html>
  <head>
    <title>Closer Walk UMC</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= favicon_link_tag 'favicon.ico' %>
  </head>

  <body>
    <div id="top"></div>

    <div id="mobileMenu" class="contract">
      <div class="menuContent">
        <%= link_to "HOME", root_path(anchor: "top") %>
        <%= link_to "SERMONS", root_path(anchor: "sermons") %>
        <%= link_to "ABOUT US", root_path(anchor: "about") %>
        <%= link_to "OUR BELIEFS", root_path(anchor: "beliefs") %>
        <a href="#">EVENTS</a>
        <a href="#">OUR MINISTRIES</a>
        <a href="#">MORE</a>
      </div>
    </div>

    <div id="mobileHeader">
      <div id="logo"><%= link_to image_tag("cwLogo3.png"), root_path %></div>
      <div id="hamburger">
        <div id="bar1"></div>
        <div id="bar2"></div>
        <div id="bar3"></div>
      </div> 
    </div>

    <div id="dskHeader">
      <div id="logo"><%= link_to image_tag("cwLogo3.png"), root_path %></div>
      <div class="links"><%= link_to "HOME", root_path(anchor: "top") %></div>
      <div class="links"><%= link_to "SERMONS", root_path(anchor: "sermons") %></div>
      <div class="links"><%= link_to "ABOUT US", root_path(anchor: "about") %></div>
      <div class="links"><%= link_to "OUR BELIEFS", root_path(anchor: "beliefs") %></div>
      <div class="links"><a href="#">EVENTS</a></div>
      <div class="links"><a href="#">OUR MINISTRIES</a></div>
      <div class="links"><a href="#">MORE</a></div>
    </div>

    <%= yield %>

    <div id="footer">
      <h3>CLOSER WALK CHURCH</h3>
      <h3>910-399-4383</h3>
      <h3>117-C Village Rd</h3>
      <h3>Leland NC, 28451</h3>
    </div>

  </body>
</html>